<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script type="text/javascript" src="js/thermostat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="http://www.favicon.cc/logo3d/842933.png"/>
  </head>
  <body>
    <section class="container">
      <h1 class="temperature" id="temperature"></h1>
      <h1>Current temperature: <span id="current-temperature">20</span></h1>
      <select id="current-city" name="current city">
        <option value="london">London</option>
        <option value="berlin">Berlin</option>
        <option value="nyc">New York City</option>
        <option value="tokyo">Tokyo</option>
        <option value="dublin">Dublin</option>
      </select>
      <p>
        <button id="temperature-up" type="button" name="Up">+</button>
        <button id="temperature-down" type="button" name="Down">-</button>
        <button id="temperature-reset" type="button" name="Reset Button">Reset</button>
        power saving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
      </p>
    </section>
    <script type="text/javascript" src="src/jquery.js"></script>
  </body>
</html>
